*{

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;


}

div{
    float:left;
    width:100%;
}

#title{
    text-align: center;
    margin: 20px
    font-size:175%;

}

#food-title-chicken{
    border-left:2px solid black;
    border-bottom:2px solid black;
    background-color: #d89696;
    color: #000;
    font-weight: bold;
    width:33%;
    float:right;
    text-align: center;
    font-size:125%;

}

#food-title-beef{
    border-left:2px solid black;
    border-bottom:2px solid black;
    background-color: #c54646;
    color: #fff;
    font-weight: bold;
    float:right;
    width: 33%;
    text-align: center;
    font-size:125%;

}

#food-title-sushi{
    border-left:2px solid black;
    border-bottom:2px solid black;
    background-color: #e5d09b;
    color:#000;    
    font-weight: bold;
    float:right;
    width: 33%;
    text-align: center;
    font-size:125%;

}

.box{

        border: 2px solid black;
        background-color: #979797;
}

.food-description{
    padding: 10px;
    clear: both;
}

@media only screen and (max-width: 767px) {
    /* For mobile: */
    .col-xs-12 {
    width: 100%;
    padding:20px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px){
    /* For tablet: */
    .col-m-6 {
    width: 50%;
    padding:10px;
    }

    .col-m-12 {
    width: 100%;
    padding:10px;
    }
}
@media only screen and (min-width: 992px) {
    /* For desktop: */
    .col-l-4 {
    width: 33.33%;
    padding:20px;
    }

    .col-l-12 {
    width: 100%;
    padding:20px;
    }


}